* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/background.png);
    color: rgba(255, 255, 255, 0.633);
}

.container {
    width: 80%;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 60px;
}

.logo {
    display: flex;
    gap: 5px 10px;
    align-items: end;
}

.logo img:first-child {
    grid-row: 1/3;
}

.logo img:nth-child(2n) {
    grid-row: 1/2;
    grid-column: 2;
}

.logo img:last-child {
    grid-row: 2/3;
    grid-column: 2;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    height: 100%;
}

.info p:hover {
    color: orangered;
}

.imgwrapper {
    height: 47px;
    width: 53px;
    background: url(/images/logo.png);
}
.logo:hover {
    color: orangered;
}

.logo:hover .imgwrapper {
        background: url(/images/logo2.png);
    }

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5%;
    margin-bottom: 8=0px;
}

.hover {
    display: flex;
    justify-content: space-between;
    background-color: orangered;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    bottom: 25px;
    visibility: hidden;
}

.cell div:hover .hover {
    visibility: visible;
}

.hover div p:first-child {
    font-size: 10px;
    text-align: left;
    margin-bottom: 5px;
}

.hover div p:last-child {
    font-size: 20px;
}

.hover div:last-child {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: end;
    font-size: 15px;
}

.hover div p:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(7, 142, 188)
}
.hover div span:first-child:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(7, 142, 188)
}


.hover div span:last-child:hover {
    color: rgb(7, 142, 188);
}


.cell > p:hover {
    color: orangered
}
.section img {
    width: 100%;
}

.section > div {
    position: relative;
}

.section p {
    width: 100%;
    text-align: center;
}

.foto-description2 {
    position: relative;
    bottom: 6px;
}

footer {
    display: flex;
    width: 100%;
    padding-top: 80px;
    align-items: center;
    justify-content: center;
}
